:root {
	width: 100%;
	height: max(100%, max-content);
	/* colors */
	/* #00A485 --*/
	/* #6397AE */
	/* #8B86D6 */
	/* #AB6DFF --*/
	/* #d166c7 */
	/* #e86190 */
	/* #F65D5A --*/

	--dark: #262626;
	--light: #fcddf2;
	--green: #00a485;
	--purple: #ab6dff;
	--red: #f65d5a;

	--t1: var(--green);
	--t2: #6397ae;
	--t3: #8b86d6;
	--t4: var(--purple);
	--t5: #d166c7;
	--t6: #e86190;
	--t7: var(--red);

	--text: var(--light);
	--bg: var(--dark);

	--font-ratio: 1.618;
	--font-ratio-2: 1.2;

	/* --font-m: calc(0.8em + 0.5vmin); */

	--font-minimum-size: 16;
	--font-maximum-size: 21;
	--font-minimum-size-pixels: calc(var(--font-minimum-size) * 1px);
	--font-m: calc(
		var(--font-minimum-size-pixels) +
			(var(--font-maximum-size) - var(--font-minimum-size)) *
			((100vw - 320px) / (1280 - 300))
	);
	/* --font-l: calc(var(--font-m) * var(--font-ratio));
	--font-xl: calc(var(--font-l) * var(--font-ratio)); */
	--font-2xl: calc(
		var(--font-m) * var(--font-ratio) * var(--font-ratio) *
			var(--font-ratio)
	);

	--font-s: calc(var(--font-m) / var(--font-ratio-2));
	/* --font-xs: calc(var(--font-s) / var(--font-ratio-2)); */
	background: var(--bg);
	color: var(--text);
	fill: var(--text);
}

@media (prefers-color-scheme: light) {
	:root {
		--text: var(--dark);
		--bg: var(--light);
	}
}

.stack {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.stack > * {
	margin-top: var(--gap, 2.25rem);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.cols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
}

body {
	background: var(--bg);
	color: var(--text);
	font-family: 'Atkinson Hyperlegible', sans-serif;

	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(200px, 66rem)
		minmax(1rem, 1fr);
	grid-template-rows: min-content 1fr min-content;

	grid-template-areas:
		'lHeader header rHeader'
		'leftSidebar main rightSidebar'
		'footer footer footer';

	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
	line-break: loose;
	font-size: var(--font-m);
	text-align: start;
}

header {
	text-align: center;
	grid-area: header;
	margin-top: 0;
}
h1 {
	margin: 0;
	font-size: var(--font-2xl);
}
p {
	line-height: 1.8;
}
main {
	grid-area: main;
	width: 100%;
}
#swatch {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
#swatch > * {
	aspect-ratio: 1;
	height: 4em;
	flex: 2 10%;
	color: var(--dark);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

footer {
	text-align: center;
	grid-area: footer;
	padding-top: 1em;
	padding-bottom: 1em;
}

a {
	color: unset;
	text-decoration: underline;
}
a:hover,
a:focus-visible {
	outline: none;
	text-decoration: underline 0.2em;
	text-decoration-skip: none;
	text-decoration-skip-ink: none;
}

ul {
	list-style: none;
	line-height: 1.8;
	font-size: var(--font-m);
}
ul li {
	font-size: var(--font-s);
}
button {
	border-radius: 1em;
	font: unset;
	color: unset;
	border: none;
}
