#spotify-login {
	box-sizing: border-box;
	border: none;
	display: block;

	padding: 0.5em 1em;
	border-radius: 1em;
	background-color: #191414;
	color: #1db954;
	margin-left: auto;
	margin-right: auto;
}
#spotify-login > img {
	height: 1.2em;
	display: inline-block;
	vertical-align: middle;
	fill: #1db954;
}
#spotify-login:hover {
	outline: 0.2em #1db954 solid;
}
